@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css");

.form-wrapper {
  display: flex;
  justify-content: center;
}
.form-wrapper > .link-form {
  width: 600px;
  padding: 1rem;
  border-radius: 8px;
  border: 1px solid #fafafa;
}
.form-wrapper .link-error {
  color: #f2545b;
  font-size: 13px;
  margin-top: 4px;
}
.response {
  margin-top: 12px;
}
.response > .short-link,
.short-url {
  color: #5448c8;
  display: flex;
  justify-content: space-between;
}

.response > .short-link p,
.short-url p {
  margin-bottom: 0;
}
.single-view {
  margin-bottom: 4px;
  border: 1px solid #ddd;
  padding: 1rem;
  border-radius: 4px;
}
